.Home{
    /* width: 70%;
    margin-left: 15%;
    margin-right: 15%; */
}
 /* .carousel-control-next{
    
    color:red;
} */
h2{
    text-align: center;
    color: white;
}
.jumbotron{
    width: 100%;
    height: 1100px;
    margin: blue 4px solid;
    background-image: url("../Components/Images/jumbo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
}




@media only screen and (max-width: 600px) {


    .Home{
        /* width: 70%;
        margin-left: 15%;
        margin-right: 15%; */
    }
     /* .carousel-control-next{
        
        color:red;
    } */
    h2{
        text-align: center;
        color: white;
    }
    .jumbotron{
        width: 100%;
        height: 700px;
        margin: blue 4px solid;
        background-image: url("../Components/Images/jumbo.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        
    }
    





}



